
<div class="jumbotron jumbotron-fluid animated fadeIn fast">

  <div class="container"></div>  
  <h1 class="display-4"> HEROES </h1>
    <p class="lead">Super Heroes de Marvel</p>
    <hr class="my-4">
    
    <p>
      Son un personajes de ficción cuyas características superan las del héroe clásico, 
      generalmente con poderes sobrehumanos aunque no necesariamente, y 
      entroncado con la ciencia ficción.
    </p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  